<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.nativeprojectapp">

    <uses-permission android:name = "android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.FLASHLIGHT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageTestActivity"
            android:label="@string/title_activity_image_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cycle1Activity"
            android:label="@string/title_activity_cycle1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreImageTestActivity"
            android:label="@string/title_activity_pre_image_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreCycleTestActivity"
            android:label="@string/title_activity_pre_cycle_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cycle2Activity"
            android:label="@string/title_activity_cycle2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cycle3Activity"
            android:label="@string/title_activity_cycle3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cycle4Activity"
            android:label="@string/title_activity_cycle4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cycle5Activity"
            android:label="@string/title_activity_cycle5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreScrollTestActivity"
            android:label="@string/title_activity_pre_scroll_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollTestActivity"
            android:label="@string/title_activity_scroll_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreFlashTestActivity"
            android:label="@string/title_activity_pre_flash"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FlashTestActivity"
            android:label="@string/title_activity_flash_test"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>